html,body {
	width: 100%;
	height: 100%;
	background-color: rgb(248,248,248);
	color: gray;
	font-family: Helvetica;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
.control.highlight {
	color: red;
}
.race_control.highlight {
	color: red;
}
table, th, td {
	font-size: 0.9em;
	text-align: left;
	font-weight: normal;
}
ul li:before {
	content: "\00BB";
}
ul {
	display: inline;
	width: 45%;
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0.9em;
}
@media all and (orientation: portrait) {
	#fixed {
		position: fixed;
		top: 0%;
		left: 0;
		height: 50%;
		width: 100%;
	}
	#menu {
		position: fixed;
		top: 50%;
		left: 0;
		width: 100%;
		height: 50%;
	}
	#legend {
		height: 40%;
		width: 100%;
	}
}
@media all and (orientation: landscape) {
	#fixed {
		position: fixed;
		top: 0;
		left: 50%;
		height: 100%;
		width: 50%;
	}
	#menu {
		position: fixed;
		top:0;
		left: 0;
		width: 50%;
		height: 100%;
	}
	#legend {
		position: absolute;
		top: 50%;
		height: 50%;
	}
}
#map {
	width: 100%;
	height: 100%;
}
#map > svg {
	width: 100%;
	height: 100%;
}
.blockgroups > path {
	stroke: none;
}
.beats > path {
	fill: none;
	fill-opacity: 0.6 !important;
	stroke: none;
}
.beats > path.selected {
	stroke: blue !important;
	stroke-width: 3px;
}
.beats.default > path {
	fill: rgba(0,84,136,0.3);
	stroke: white;
}
path.r_a { fill: #f7f7f7; }
path.r_b { fill: #cccccc; }
path.r_c { fill: #969696; }
path.r_d { fill: #525252; }

path.m_a { fill: #fee5d9; }
path.m_b { fill: #fcae91; }
path.m_c { fill: #fb6a4a; }
path.m_d { fill: #de2d26; }
path.m_e { fill: #a50f15; }

.w_a.white { fill: #eff3ff; }
.w_b.white { fill: #bdd7e7; }
.w_c.white,.w_c.seg { fill: #6baed6; }
.w_d.white,.w_d.seg { fill: #2171b5; }
.p_a.poc { fill: #edf8e9; }
.p_b.poc { fill: #bae4b3; }
.p_c.poc,.p_c.seg { fill: #74c476; }
.p_d.poc,.p_d.seg { fill: #238b45; }
.b_a.black { fill: #f2f0f7; }
.b_b.black { fill: #cbc9e2; }
.b_c.black { fill: #9e9ac8; }
.b_d.black { fill: #6a51a3; }
.o_a.opoc { fill: #feedde; }
.o_b.opoc { fill: #fdbe85; }
.o_c.opoc { fill: #fd8d3c; }
.o_d.opoc { fill: #d94701; }
